.App{
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}
.my-card{
  height: 550px !important;
}
.list{
  margin: 10px 0px 10px 15px;
}
@media only screen and (max-width: 600px) {
  .my-card{
    height: 450px !important;
  }
  .list{
  margin: 10px 15px 10px 15px;
}
}
div#container { overflow-y: scroll; }
